body {
    background-color: blue;
    margin-top: 50px;
    font-family: 'Lato';
    margin-bottom: 40px;
}

.item {
    background-color: red;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}
       /* Add some CSS to style the footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.completed-text {
    position: relative;
    display: inline-block;
}

.completed-text:after {
    margin: 7.5% 0;
    background: #F7F2E2; /* Replace with your background color */
    position: relative;
    height: 16px; /* Replace with your height */
    z-index: 1;
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
    }
    &:before {
        height: 12px; /* Replace with your ($height - $offset) value */
        top: 110%; /* Replace with your $thickness value */
        background: linear-gradient(-135deg, #F7A9B9 8px, transparent 0) 0 8px, linear-gradient( 135deg, #F7A9B9 8px, transparent 0) 0 8px;
        background-position: top left;
        background-repeat: repeat-x;
        background-size: 16px 16px; /* Replace with your $height value */
    }
    &:after {
        height: 16px; /* Replace with your $height value */
        top: 100%;
        background: linear-gradient(-135deg, #F7F2E2 8px, transparent 0) 0 8px, linear-gradient( 135deg, #F7F2E2 8px, transparent 0) 0 8px;
        background-position: top left;
        background-repeat: repeat-x;
        background-size: 16px 16px; /* Replace with your $height value */
    }
}
