body {
    background-color: blue;
    margin-top: 50px;
    font-family: 'Lato';
    margin-bottom: 40px;
}

.item {
    background-color: red;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}
       /* Add some CSS to style the footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

$height: 16px;
$halfheight: ($height/2);
$thickness: 110%; 
$offset: 4px;
$backgroundcolor: #F7F2E2;
$linecolor: #F7A9B9;

.completed-text:after {
	margin: 7.5% 0;
	background: $backgroundcolor;
	position: relative;
	height: $height;
	z-index: 1;
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
  		right: 0;
	}
	&:before {
		height: ($height - $offset);
		top: $thickness;
		background: linear-gradient(-135deg, $linecolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $linecolor $halfheight, transparent 0) 0 $halfheight;
		background-position: top left;
		background-repeat: repeat-x;
		background-size: $height $height;
	}
	&:after {
		height: $height;
		top: 100%;
		background: linear-gradient(-135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight;
		background-position: top left;
		background-repeat: repeat-x;
		background-size: $height $height;
	}

